<html>
    <head>
        <title>wtf</title>
    </head>
    <body>
        <div>
            <h1>Welcome to Medaidsync</h1>
            <p>API DOCUMENTATION</p>
            <ul>
                <li><span>Signup</span> <span>POST: https://medaidsync.pythonanywhere.com/register</span></li>
                <li><span>Login</span> <span>POST: https://medaidsync.pythonanywhere.com/login</span></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </body>
</html>